.home-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.home-head {
  color: white;
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: bold;
  margin: 5px;
}

.home-para {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  margin: 5px;
}

.home-button {
  background-color: blue;
  height: 5vh;
  width: 25vh;
  color: white;
  font-family: 'Roboto';
  font-size: 18px;
  padding: 5px;
  border: 0px solid;
  border-radius: 12px;
}
